.main-page-buttons {
  text-align: center;
  margin-top: 200px;
}

.jvjs-header {
  text-align: center;
}

.ticket-display {
  background-color: #eee !important;
  border-radius: 5px;
  margin: 20px;
}
