{{outlet}}

<h1 class="jvjs-header">Help Queue Clone</h1>

<div class="main-page-buttons">
  {{#linkTo 'student'}}<button class="btn btn-success btn-lg">Student</button>{{/linkTo}}
  {{#linkTo 'teacher'}}<button class="btn btn-primary btn-lg">Teacher</button>{{/linkTo}}
</div>
